body {
  background-color: #f7f7f7;
}

.splash {
}

.splash .logo {
  height: 175px;
}

/* Account */

.account {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}

.account-verification {
  width: 400px;
}

.account .recaptcha {
  height: 80px;
  margin-top: 7px;
}

.account .logo {
  height: 125px;
}

.account .tittle {
  font-size: 50px;
  margin: 15px 0px 25px 0px;
}
.account .iput {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 8px 0px;
}
.account .continue {
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #3daedb;
  color: #fff;
}
.account .continue:hover {
  background-color: #2e92b9;
}

/* Messenger */
.empty {
}

.empty .ico {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.messenger {
}

.messenger .ribbon {
  background-color: rgb(0, 186, 161);
  width: 100%;
  height: 175px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.messenger .wrapper {
  background-color: #fff;
  margin: 60px 75px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.messenger .sidebar {
  flex: 1;
  border-right: 1px #ddd solid;
  max-width: 350px;
  min-width: 350px;
}

.messenger .sidebar .head {
  height: 30px;
  background: #eee;
  padding: 10px 15px;
  border-radius: 3px 0px 0px 0px;
  -webkit-border-radius: 3px 0px 0px 0px;
  -moz-border-radius: 3px 0px 0px 0px;
  -ms-border-radius: 3px 0px 0px 0px;
  -o-border-radius: 3px 0px 0px 0px;
}

.messenger .sidebar .head .udp {
  padding: 0px;
  border: 0px;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.messenger .sidebar .head .udp img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.messenger .sidebar .head .actions {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.messenger .sidebar .head .btn {
  font-size: 20px;
  border: 0px;
  width: 40px;
  height: 24px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-left: 5px;
}

.messenger .sidebar .head .btn:hover {
}

.messenger .sidebar .search {
  background-color: #f9f9f9;
  padding: 15px 20px;
  border-top: 1px #dedede solid;
  border-bottom: 1px #dedede solid;
}

.messenger .sidebar .search .btn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 6px 10px;
}

.messenger .sidebar .search-box {
  height: 40px;
  background-color: white;
  border: 1px solid #ddd;
  flex: 1;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.messenger .sidebar .search-box .btn {
  height: 50px;
}

.messenger .sidebar .search-box .btn img {
  width: 30px;
  height: 30px;
}

.messenger .sidebar .query {
  width: 100%;
}

.messenger .sidebar .inbox {
  flex: 1;
}

.messenger .sidebar .inbox .empty {
}

.messenger .sidebar .inbox .item {
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
}

.messenger .sidebar .inbox .item .udp {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  overflow: hidden;
  margin-right: 10px;
  background: #ccc;
}

.messenger .sidebar .inbox .item .udp img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.messenger .sidebar .inbox .item .meta {
  flex: 1;
}

.messenger .sidebar .inbox .item .meta .uname {
  margin-bottom: 3px;
}

.messenger .sidebar .inbox .item .meta .lastMsg {
}

.messenger .sidebar .inbox .item .meta .stamp {
  top: 0;
  right: 0;
}

.messenger .sidebar .inbox .holder {
}
.messenger .sidebar .inbox .holder .udp {
}
.messenger .sidebar .inbox .holder .meta {
}
.messenger .sidebar .inbox .item .meta .uname {
  height: 15px;
  background-color: #ccc;
  width: 60%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation-name: ScalingWidth;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.messenger .sidebar .inbox .item .meta .lastMsg {
  height: 10px;
  background-color: #e0e0e0;
  width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 5px;
  animation-name: ScalingWidth;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}
.messenger .sidebar .inbox .holder .meta .stamp {
}

.messenger .chatbox {
  flex: 2;
}

.messenger .chatbox .head {
  height: 40px;
  background: #eee;
  border-bottom: 1px solid #dedede;
  padding: 10px 15px;
  border-radius: 0px 3px 0px 0px;
  -webkit-border-radius: 0px 3px 0px 0px;
  -moz-border-radius: 0px 3px 0px 0px;
  -ms-border-radius: 0px 3px 0px 0px;
  -o-border-radius: 0px 3px 0px 0px;
}

.messenger .chatbox .head .meta {
}

.messenger .chatbox .head .meta .usr .name {
}

.messenger .chatbox .head .meta .usr .lo {
}

.messenger .chatbox .head .udp {
  padding: 0px;
  border: 0px;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 10px;
}

.messenger .chatbox .head .udp img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.messenger .chatbox .head .actions {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.messenger .chatbox .head .btn {
  font-size: 20px;
  border: 0px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-left: 5px;
}

.messenger .chatbox .head .btn img {
  height: 24px;
}

.messenger .chatbox .head .btn:hover {
}

.messenger .chatbox .sendbox {
  position: absolute;
  height: 50px;
  background: #f7f7f7;
  padding: 5px 10px;
  border-radius: 0px 0px 3px 0px;
  -webkit-border-radius: 0px 0px 3px 0px;
  -moz-border-radius: 0px 0px 3px 0px;
  -ms-border-radius: 0px 0px 3px 0px;
  -o-border-radius: 0px 0px 3px 0px;
  border-top: 1px #efefef solid;
  bottom: 0px;
  left: 0px;
  right: 0px;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}

.messenger .chatbox .sendbox .btn {
  border: 0px;
  width: 40px;
  height: 40px;
  background-color: rgba(204, 204, 204, 0);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-left: 5px;
}

.messenger .chatbox .sendbox .btn:hover {
}

.messenger .chatbox .send-txt {
  flex: 1;
  border: 0px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0px 20px;
}

.messenger .chatbox .chat {
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  background: #e5ddda;
  overflow: hidden;
  padding: 15px 30px;
}

.messenger .chatbox .chat .item {
  margin: 10px 5px;
}

.messenger .chatbox .chat .bubble {
  background: #fff;
  padding: 0px 20px 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.18);
}

.messenger .chatbox .chat .bubble::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 10px rgba(255, 255, 255, 0) solid;
  border-top: 10px solid #fff;
  position: absolute;
  left: -10px;
  top: 0px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.messenger .chatbox .chat .me {
  justify-content: flex-end;
}

.messenger .chatbox .chat .me .bubble {
  background-color: #dcf8c6;
}

.messenger .chatbox .chat .me .bubble::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 10px rgba(255, 255, 255, 0) solid;
  border-top: 10px solid #dcf8c6;
  position: absolute;
  right: -10px;
  top: 0px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  left: auto !important;
}

.stamp {
  bottom: 4px;
  right: 10px;
}

.stamp .tick {
  margin: -2px 0px 0px 6px;
  color: #797979;
}
